---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import React from "./icons/React.astro"
import Chakra from "./icons/Chakra.astro"
import Firebase from "./icons/Firebase.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT:{
    class: "bg-[#003159] text-white",
    name:"React",
    icon:React
  },
  CHAKRA: {
    class: "bg-[#2AB9AE] text-white",
    name: "Chakra UI",
    icon: Chakra
  },
  FIREBASE: {
    class: "bg-[#8D818C] text-[#FBCC46]",
    name:  "Firebase",
    icon: Firebase
  }
}
const PROJECTS = [
  {
    title: "SceneOne",
    //description: "App de chat",
    link: "https://scene-one-eight-tau-26.vercel.app/",
    github:"https://github.com/kvs-dev/SceneOne",
    image: "/projects/project3.png",
    tags: [TAGS.REACT, TAGS.CHAKRA, TAGS.FIREBASE],
  },
  {
    title: "Chatify",
    //description: "App de chat",
    link: "https://talk-time.netlify.app/login",
    github:"https://github.com/kvs-dev/Chatify",
    image: "/projects/project2.png",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Tikkit",
    // description: "Todo App",
    link: "https://todo-app-b96a5.web.app/register",
    github:"https://github.com/kvs-dev/tikkit",
    image: "/projects/project1.png",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg flex flex-col gap-y-4">
    <h3 class="text-2xl font-bold text-white dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-col">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      {/* <div class="mt-2 text-white dark:text-gray-400">{description}</div> */}
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link} >
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



